# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.env

# React
/retail-dashboard/node_modules/
/retail-dashboard/build/
/retail-dashboard/.env.local
/retail-dashboard/.env.development.local
/retail-dashboard/.env.test.local
/retail-dashboard/.env.production.local

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# OS
.DS_Store
Thumbs.db

# Misc
.cache/
.history/
.vscode/
AI-Geofencing-Retail-Offer-System/
